main{
  background-color: transparent !important;
  height: 90vh;
  overflow-y: scroll;
}

main::-webkit-scrollbar{
  width: 0;
}
.ant-layout{
  min-height: 50vh;
}

.ant-layout-header h5{
  line-height: 20px;
  font-size: 14px;

}
.ant-layout-header p{
  line-height: 20px;
  font-size: 13px;
}

